/* custom css stylesheet*/
body {
	background-image: url("../images/bg.jpg");
}
/*form {
    border: 3px solid #f1f1f1;
}*/

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}


.container {
    padding: 0px;
}

span.psw {
    
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}
h1{
	text-align: center;

}

h2 {
	color: black;
	text-align : center;
}
